* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(85, 78, 78);
}
body {
  font-family: "Lato", sans-serif;
}
h3,
h4 {
  font-weight: 400;
  color: rgb(124, 116, 116);
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 25%;
}
@import "./player";
@import "./song";
@import "./library";
@import "./nav";
